body {
	font-family: Arial, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
    width: 100%;
	background-color: #f9f9f9;
	margin: 0;
}

.container {
	width: 40%;
	padding: 10px;
	background-color: #fff;
	border-radius: 8px;
	text-align: center;
}

h1 {
	color: #e76f51;
	font-size: 24px;
	margin-bottom: 10px;
}

.outer-circle {
    width: 20px;               
    height: 20px;
    border: 1px solid #e76f51;   
    border-radius: 50%;       
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.inner-circle {
    width: 15px;              
    height: 15px;
    background-color: #e76f51;   
    border-radius: 50%;       
}
.option-outer{
    border: 1px solid #e0e0e0;
	border-radius: 8px;
	padding: 30px;
    cursor: pointer;
	position: relative;
    margin-bottom: 15px;
}
.option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.unit{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.subUnit{
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    gap: 7px;
}

.percentOff{
    background-color: #e76f51;
    padding: 2px 8px;
    color: white;

}


.discount{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: first baseline;
}
.discount .price{
    color: black;
    font: bold;
   
}
.discount .originalPrice{
    color: gray;
    text-decoration: line-through;
    font-size: 10px;
}

.expand {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.3s ease, max-height 0.3s ease;
}

.expand.expanded {
    opacity: 1;
    max-height: 200px;
}
.option-outer:hover .expand {
    opacity: 1;                       
    max-height: 200px;               
}
/* Table Properties Start */

table {
    width: 50%;
    border-collapse: collapse;        
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    margin-top: 10px;                
}

th {
    color: #6e6a6a;                    
    font-weight: 100;  
}

td {                
    font-size: 14px;                 
    text-align: left;                 
    border-bottom: 1px solid #ddd; 
    width: auto;
}

select {
    padding: 5px 10px;                
    font-size: 14px;                                
    border: 1px solid #ccc;          
    background-color: #fff;          
    width: 100%;                     
}

.cart{
    display: flex;
    justify-content: space-between;
}
.cart .freedelivery{
    color: #e76f51;
    font: bold;
    font-size: 16px;
}
.addtocart{
    margin-top: 10px;
    background-color: #e76f51;
    width: 100%;
    padding: 12px 5px;
    border: none;
    color: white;
    font: bold;
    font-size: 14px;
    border-radius: 3px;
}
